*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight:weight;
    font-style: normal;
    background-color: #FFC981;
}

header {
    background-color: #FFAB3C;
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.logo h1 {
    font-size: 52px;
    font-weight: 900;
    color:white;
}

.logo a {
    font-size: 26px;
    font-weight: 800;
    color: white;
}

.nav {
    display:flex;
    flex-direction:row;
    gap: 80px;
    justify-content: space-between;
    padding: 50px;
}

.nav a{
    font-size: 26px;
    font-weight: 800;
    text-align: center;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    color: #cf7500;
}

.start {
    font-size: 18px;
    color:white;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
}

main h1 {
    color: white;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.obrazovanie {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.obrazovanie img {
    width: 300px;
    height: 400px;
}

.obrazovanie p {
    display: flex;
    max-width: 300px;
    color: white;
    font-weight: 800;
    font-size: 20px;
}

.proecti {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.proecti p {
    display: flex;
    max-width: 600px;
    color: white;
    font-weight: 800;
    font-size: 20px;
}

.proecti img {
    width: 600px;
    height: 400px;
}

footer {
    background-color: #FFAB3C;
    color: white;
    text-align: center;
    padding: 15px 20px;
    font-size: 20px;
}

.footer-info {
    display: flex;
    justify-content: center;
    gap: 200px;
}